<!DOCTYPE html>
<html>
  <head>
    <title>Đăng nhập</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/b.css') }}">
    

  </head>
  <body>
    <div class="bg_heart">
    </div>

    <div class="container">
    <h1>Đăng nhập</h1>
    <form action="{{ url_for('login') }}" method="post">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required><br><br>
      <label for="password">Mật khẩu:</label>
      <input type="password" id="password" name="password" required><br><br>
      <input type="submit" value="Đăng nhập">
    </form>
  </body>
  <script type="module" src="{{ url_for('static', filename='js/a.js') }}"></script>
</html>
